body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.logo-image {
    height: 40px;
    padding-right: 20px;
}

.search-container {
    position: relative;
    display: flex;
}

.search-box {
    width: 50vw;
    height: 35px;
    min-width: 300px;
    max-width: 550px;
    border-radius: 25px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: medium;
    padding-left: 15px;
    padding-right: 85px;
}

.search-box:hover {
    box-shadow: 0 0 5px rgb(214, 214, 214);
    border-color: transparent;
}

.search-box:focus {
    outline: none;
}

.close-image {
    opacity: 0.6;
    width: 18px;
    height: 18px;
    position: absolute;
    padding-top: 10px;
    right: 57px;
    cursor: pointer;
}

.separator {
    width: 1px;
    height: 26px;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    margin-top: 6px;
    right: 44px;
    font-size: large;
}

.search-image {
    opacity: 0.6;
    width: 20px;
    height: 20px;
    position: absolute;
    padding-top: 9px;
    right: 15px;
}

.search-image:hover {
    cursor: pointer;
}

.search-button {
    border-radius: 2px;
    border-color: transparent;
    background-color: rgb(248, 248, 248);
    margin-left: 5px;
    margin-right: 5px;
    width: 140px;
    height: 40px;
    color: rgb(45, 45, 45);
    cursor: pointer;
}

.search-button:hover {
    box-shadow: 0 0 2px rgb(184, 184, 184);
}

.search-button-form {
    display: inline;
}

.header {
    /* background-color: whitesmoke; */
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 50px;
}

.header-sub {
    display: flex;
    grid-column-gap: 10px;
}

.github-image {
    width: 30px;
    height: 30px;
    opacity: 0.9;
    margin-top: 3px;
}

.github-image:hover {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header-text {
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-size: small;
}

.header-text:hover {
    text-decoration: underline;
}

.gear-image {
    opacity: 0.6;
    width: 32px;
    height: 32px;
    margin-top: 3px;
}

.gear-image:hover {
    opacity: 0.4;
}

.dots-image {
    opacity: 0.6;
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

.dots-image:hover {
    opacity: 0.4;
}

.sign-in-button {
    background-color: rgb(41, 115, 252);
    color: white;
    border-radius: 3px;
    height: 34px;
    width: 80px;
    border-color: transparent;
    font-size: 15px;
}

.sign-in-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header2 {
    background-color: whitesmoke;
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    height: 50px;
}

.header-sub {
    display: flex;
    grid-column-gap: 10px;
}

.main-grid {
    display: grid;
    grid-template-columns: 37% 23%;
    padding-left: 170px;
    grid-gap: 100px;
}

.country-footer {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: auto;
    min-height: 50px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
}

.footer {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: auto;
    min-height: 50px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    border-width: 1px 0px 0px 0px;
    border-color: lightgray;
    border-style: solid;
}

.footer-left {
    display: flex;
    grid-column-gap: 15px;
    padding-left: 20px;
}

.footer-right {
    display: flex;
    padding-right: 30px;
    grid-column-gap: 15px;
}

.footer-text {
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .footer {
        padding-top: 20px;
        flex-direction: column;
    }
    .footer-left {
        padding-left: 0px;
    }
    .footer-right {
        padding-right: 0px;
    }
    .search-box {
        transition: ease all 1s;
        width: 90%;
        margin: 0;
    }
}