@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Header */

.logo-image {
    height: 40px;
    padding-right: 20px;
}

.search-container {
    position: relative;
    display: flex;
}

.search-box {
    width: 50vw;
    height: 35px;
    min-width: 300px;
    max-width: 550px;
    border-radius: 25px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: medium;
    padding-left: 15px;
    padding-right: 85px;
    box-shadow: 0 0 2px rgb(184, 184, 184);
}

.search-box:hover {
    box-shadow: 0 0 5px rgb(214, 214, 214);
    border-color: transparent;
}

.search-box:focus {
    outline: none;
}

.close-image {
    opacity: 0.6;
    width: 18px;
    height: 18px;
    position: absolute;
    padding-top: 10px;
    right: 57px;
    cursor: pointer;
}

.separator {
    width: 1px;
    height: 26px;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    margin-top: 6px;
    right: 44px;
    font-size: large;
}

.search-image {
    opacity: 0.6;
    width: 20px;
    height: 20px;
    position: absolute;
    padding-top: 9px;
    right: 15px;
}

.search-image:hover {
    cursor: pointer;
}

.search-button {
    border-radius: 2px;
    border-color: transparent;
    background-color: rgb(248, 248, 248);
    margin-left: 5px;
    margin-right: 5px;
    width: 140px;
    height: 40px;
    color: rgb(45, 45, 45);
    cursor: pointer;
}

.search-button:hover {
    box-shadow: 0 0 2px rgb(184, 184, 184);
}

.search-button-form {
    display: inline;
}

.header {
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
    height: 50px;
}

.header-sub {
    display: flex;
    grid-column-gap: 10px;
}

.github-image {
    width: 30px;
    height: 30px;
    opacity: 0.9;
    margin-top: 3px;
}

.github-image:hover {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header-text {
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-size: small;
}

.header-text:hover {
    text-decoration: underline;
}

.gear-image {
    opacity: 0.6;
    width: 32px;
    height: 32px;
    margin-top: 3px;
}

.gear-image:hover {
    opacity: 0.4;
}

.dots-image {
    opacity: 0.6;
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

.dots-image:hover {
    opacity: 0.4;
}

.sign-in-button {
    background-color: rgb(41, 115, 252);
    color: white;
    border-radius: 3px;
    height: 34px;
    width: 80px;
    border-color: transparent;
    font-size: 15px;
}

.sign-in-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Navbar */

.header2 {
    border-width: 0px 0px 1px 0px;
    border-color: lightgray;
    border-style: solid;
    height: 50px;
    display: flex;
    align-items: center;
}

.header2-nav {
    color: slategray;
    display: flex;
}

.material-icons {
    font-size: 18px;
    margin-right: 4px;
}

.header2-nav-tools {
    position: absolute;
    right: 0px;
}

.header2-nav:hover {
    cursor: pointer;
}

.header2-text {
    margin-left: 190px;
    display: flex;
    grid-column-gap: 20px;
    width: 57vw;
    min-width: 400px;
    max-width: 620px;
    position: relative;
}

.header2-nav-selected {
    border-width: 0px 0px 2px 0px;
    border-color: light;
    border-style: solid;
}

.header-sub {
    display: flex;
    grid-column-gap: 10px;
}

/* Results count */

.results-count {
    margin-left: 180px;
    color: slategray;
    font-size: smaller;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Grid */

.main-grid {
    display: grid;
    grid-template-columns: 37% 23%;
    padding-left: 180px;
    grid-gap: 100px;
}

/* Grid Item 1 */

.grid-item-1 {
    min-width: 550px;
}

/* Websites */

.website {
    margin: 10px 0px 25px 0px;
}

.full-url {
    display: flex;
    grid-column-gap: 5px;
}

.sub-url {
    margin-bottom: 5px;
    font-size: 14px;
    color: slategray;
}

.title {
    font-size: 20px;
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

.url {
    margin-bottom: 5px;
    font-size: 14px;
}

.description {
    color: dimgray;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
}

.website-urls {
    display: flex;
    grid-column-gap: 5px;
}

.extra-urls {
    font-size: 14px;
    text-decoration: none;
}

.extra-urls:hover {
    text-decoration: underline;
}

/* People Also Ask */

.people-also-ask {
    position: relative;
    margin-top: 35px;
    margin-bottom: 40px;
}

.people-also-ask-title {
    font-size: 20px;
    padding-bottom: 12px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: lightgray;
}

.people-also-ask-question {
    position: relative;
}

.people-also-ask-question:hover {
    cursor: pointer;
}

.people-also-ask-text {
    padding: 15px 0px 15px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: lightgray;
}

.people-also-ask-arrow {
    position: absolute;
    right: 3%;
    top: 45%;
    height: 8px;
    opacity: 0.6;
}

.people-also-ask-feedback {
    background-color: white;
    color: slategray;
    font-size: small;
    position: absolute;
    right: 0px;
    padding-left: 10px;
    margin-top: -8px;
}

.people-also-ask-feedback:hover {
    cursor: pointer;
}

/* Twitter */

.twitter-container {
    position: relative;
}

.twitter-right {
    position: absolute;
    right: 0px;
    top: 45%;
    margin-left: 10px;
    transform: translate(50%, 50%);
    height: 34px;
    width: 34px;
    border-radius: 17px;
    background-color: white;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-right:hover {
    cursor: pointer;
}

.twitter-right-arrow {
    opacity: 0.6;
    height: 10px;
}

.twitter-grid {
    margin: 10px 0 50px 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
}

.twitter-card {
    box-shadow: 0 0 2px rgb(184, 184, 184);
    border-radius: 10px;
    position: relative;
    padding-bottom: 40px;
}

.twitter-card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.twitter-card-text {
    padding: 7% 7% 7% 7%;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: ellipsis;
    text-overflow: ellipsis;
}

.twitter-card-image:hover {
    cursor: pointer;
}

.twitter-card-text:hover {
    cursor: pointer;
}

.twitter-card-text-url {
    color: slategray;
    text-decoration: none;
}

.twitter-card-text-url:hover {
    text-decoration: underline;
}

.twitter-card-footer {
    position: absolute;
    bottom: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    line-height: 1.5;
}

.twitter-card-text-twitter {
    font-size: small;
}

.twitter-card-text-days {
    font-size: small;
    color: slategray;
}

/* Wikipedia website info */

.wiki-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: 50% 50%;
}

.wiki-info-type {
    font-size: 14px;
    font-weight: bold;
    color: dimgray;
}

.wiki-info-data {
    font-size: 14px;
    color: dimgray;
}

.wiki-info-url {
    text-decoration: none;
}

.wiki-info-url:hover {
    text-decoration: underline;
}

/* Videos */

.videos {
    margin-top: 35px;
    margin-bottom: 40px;
}

.videos-title {
    font-size: 20px;
    padding-bottom: 12px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: lightgray;
}

.videos-video-url {
    text-decoration: none;
}

.videos-video-url:hover .videos-video-title {
    text-decoration: underline;
}

.videos-video {
    display: flex;
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: lightgray;
}

.videos-video-thumbnail {
    height: 70px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(184, 184, 184);
}

.videos-video-title {
    margin-bottom: 10px;
}

.videos-video-youtube {
    font-size: small;
    color: black;
}

.videos-video-author {
    color: slategray;
    font-size: small;
}

.videos-video-date {
    color: slategray;
    font-size: small;
}

/* Ten Key Moments (in Videos) */

.ten-key-moments {
    background-color: rgb(239, 246, 255);
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
}

.ten-key-moments-thumbnail {
    height: 30px;
    margin: 0px 10px 0px 10px;
}

.ten-key-moments-text {
    color: rgb(85, 85, 85);
}

.ten-key-moments-right {
    margin-left: auto;
    margin-right: 20px;
}

.ten-key-moments-arrow {
    height: 8px;
    opacity: 0.6;
}

/* View All (in Videos) */

.view-all {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0px 40px 0px;
}

.view-all-hr {
    position: absolute;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    border-style: solid;
    height: 20px;
    width: 100%;
    opacity: 0.2;
}

.view-all-button {
    position: relative;
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    box-shadow: 0 0 2px rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-url {
    text-decoration: none;
}

.view-all-button-arrow {
    position: absolute;
    margin-right: auto;
    left: 20px;
    height: 10px;
    opacity: 0.6;
}

/* Related Searches */

.related-searches {
    margin-top: 20px;
    margin-bottom: 20px;
}

.related-searches-title {
    font-size: 20px;
    margin-bottom: 12px;
}

.related-searches-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.related-search-grid-item {
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 5px 0px 5px 15px;
    padding: 15px 0px 15px 0px;
}

.related-search-grid-item-image {
    opacity: 0.6;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 20px;
}

.related-search-grid-item-text {
    margin-left: 60px;
    font-size: 90%;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: auto;
    min-height: 50px;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-border {
    border-width: 1px 0px 0px 0px;
    border-color: lightgray;
    border-style: solid;
}

.footer-sub {
    display: flex;
    grid-column-gap: 10px;
    padding-left: 180px;
}

.footer-text {
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.area-text {
    color: #444444;
}

.small-circle {
    display: inline-block;
    background-color: #444444;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 3px;
}

.blue-url {
    color: rgb(0, 78, 196);
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .footer {
        padding-top: 20px;
        flex-direction: column;
    }
    .footer-left {
        padding-left: 0px;
    }
    .footer-right {
        padding-right: 0px;
    }
    .search-box {
        transition: ease all 1s;
        width: 90%;
        margin: 0;
    }
}

/* Google pages */

.google {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.google-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-page-number {
    font-size: small;
    color: #4285F4;
}

.selected-page-number {
    color: black;
    /* !important */
}

.google-page-url {
    text-decoration: none;
}

.google-page-url:hover .google-page-number {
    text-decoration: underline;
}

.google-page-url-next {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 15px;
}

.navigate-next {
    color: #4285F4;
    font-size: 30px;
}

.google-page-url-next:hover .google-page-number {
    text-decoration: underline;
}

.google-g {
    color: #4285F4;
}

.google-o {
    color: #FBBC05;
}

.selected-o {
    color: #FF3E30;
    /* !important */
}

.google-l {
    color: #34A853;
}

.google-e {
    color: #FF3E30;
}

/* Grid Item 2 */

/*
.grid-item-2-main {
    box-shadow: 0 0 5px rgb(214, 214, 214);
    height: max-content;
}

.images {
    height: 200px;
    width: 100%;
    background-color: pink;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
}

.image-main {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
*/